<h2 mat-dialog-title>Dialog</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Select a number</mat-label>
    <mat-select>
      <mat-option value="one">One</mat-option>
      <mat-option value="two">Two</mat-option>
      <mat-option value="three">Three</mat-option>
      <mat-option value="four">Four</mat-option>
      <mat-option value="five">Five</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">
    Close Dialog
  </button>
</mat-dialog-actions>
